DS_Store
referencepaper
2026Protein Design in Synbio challenges.pdf
./**/*.pdf
__pycache__
**/__pycache__
*.npy
*.pth
*.tar
gfp_dataset_shard*.json
training_logs*.json
pipeline_results*.json
evaluation_results.json
ensemble_manifest.json
*.fas
model/evaluation_results.json
model/training_logs.json
netsurfp.py
utils/export_fasta.py
gfp_dataset.fas
predict_tm.py
tm_predictions.json
